.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 22px;
  padding-left: 10px;
}

button {
  margin-top: 20px;
  width: 300px;
  height: 50px;
}

.information button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.employee {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
